<form action="/pokemon/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="name">Name:</label>
  <input name="name" value="<%= @pokemon.name %>">
  <input type="submit" value="Update">
</form>
